.Logo img {
  max-height: 50px; /* Ajusta el tamaño según el espacio de tu navbar */
  width: auto;      /* Mantiene la relación de aspecto */
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.maquetadosPaginas{
  flex-grow: 1;
}
.verdeOscuroFondo{
 background-color:#003C25
}
.verdeOscuro{
  color: #003C25;
}